<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541208285303-imc62ecaplj2vogdiqar4rn1jccvd4gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541208285303-imc62ecaplj2vogdiqar4rn1jccvd4gr</string>
	<key>API_KEY</key>
	<string>AIzaSyB0oRlgrg5SklmrAJgoXMda3G6i_jfXcIo</string>
	<key>GCM_SENDER_ID</key>
	<string>541208285303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raise365</string>
	<key>PROJECT_ID</key>
	<string>raise365-4c266</string>
	<key>STORAGE_BUCKET</key>
	<string>raise365-4c266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541208285303:ios:de3ec64418b212c5e3b672</string>
</dict>
</plist>